* {
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}
main {
  background: -webkit-linear-gradient(left, #e1f3ef, #83aca2);
}
.articulos-table {
  
  
  .form-control {
    border-radius: .5rem;
  }
  form {
    padding: 14%; 
  }
  
}

.background {
  border-radius: 20px;
  background: #fff;
}
