<section class="welcome py-5">
  <div class="container px-5 text-center">
    <h1 class="fw-bolder">Bienvenido a beisboleros</h1>
    <p class="lead px-5">
      Beisboleros se compromete a brindarle el mejor servicio al cliente,
      precios y garantías disponibles. Consideramos que es un honor que elija
      hacer negocios con nosotros y siempre nos esforzaremos por hacer que cada
      experiencia de compra sea agradable.
    </p>
    <button class="btn btn-lg btn-outline-primary" (click)="scroll(about)">
      Ver acerca de
    </button>
  </div>
</section>
<!-- About section-->
<div #about></div>
<section class="py-5">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2 class="text-center">Acerca de beisboleros</h2>
        <p class="lead text-justify">
          Beisboleros es una empresa que surge de la pasión del deporte del
          béisbol, así como de las pocas formas de comprar fácilmente artículos
          relacionados con este deporte a través de internet. Esta organización
          surge de los ideales de Arturo González, que es mi padre, desde
          pequeño me inculcó, y arraigé la pasión por este deporte.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Services section-->
<section class="bg-light" id="services" class="py-5">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2 class="text-center">Nuestro compromiso</h2>
        <p class="lead text-justify">
          Nos esforzamos por ofrecerle el mejor precio, servicio y garantía
          disponibles. Su completa satisfacción es nuestra meta. Si hemos
          alcanzado nuestro objetivo, dígaselo a un amigo. Si no, ¡cuéntanos!
        </p>
      </div>
    </div>
  </div>
</section>
<!-- Contact section-->
<section id="contact" class="py-5">
  <div class="container px-4">
    <div class="row gx-4 justify-content-center">
      <div class="col-lg-8">
        <h2 class="text-center">Contactanos</h2>
        <p class="lead text-justify">
          El equipo de beisboleros es conocido por nuestro incomparable servicio
          al cliente. Somos amigables, conocedores y eficientes. No dude en
          acceder al link que se encuentra a continuación si tiene alguna
          pregunta sobre un pedido, envío, productos o devoluciones.
        </p>
        <a href="/contacto" class="d-flex justify-content-center btn btn-info"
          >Crear una solicitud de contacto</a
        >
      </div>
    </div>
  </div>
</section>
