<footer>
  <a href="#" class="go-up">
    <div class="up">
      <i class="fas fa-arrow-up"></i>
    </div>
  </a>
  <div class="my-container">
    <div>
      <h2>Lenguaje de programación visual</h2>
      <ul>
        <li>
          <h4>10mo semestre</h4>
          <p>Hecho por:</p>
          <p>Felipe Arturo Gonzalez Lopez</p>
        </li>
        <li>
          <h4>Correo</h4>
          <p>arturoglezggg@gmail.com</p>
        </li>
      </ul>
    </div>
    <div>
      <h2>Buscame en:</h2>
      <ul>
        <li>
          <i class="fab fa-instagram"></i>
          <a target="_blank" href="https://www.instagram.com/arturoglzl_/"
            >Instagram</a
          >
        </li>
        <li>
          <i class="fab fa-github"></i>
          <a target="_blank" href="https://github.com/ArturoG1z">Github</a>
        </li>
        <li>
          <i class="fas fa-file-pdf"></i>
          <a target="_blank" href="referencias.html#manualUsuario"
            >Manual_De_Usuario</a
          >
        </li>
      </ul>
    </div>
  </div>
  <p class="credits">
    Todos los Derechos No Reservados xD - Felipe Arturo Gonzalez Lopez
    &copy;
  </p>
</footer>