
<header id="main-header">
  <nav class="main-navbar">
    <div class="title">
      <a href="/">
        <img src="assets/images/baseball-icon.png" alt="icon"/>
      </a>
      <a href="/">
        <h2>Beis<span>boleros</span></h2>
      </a>
    </div>
    <div></div>
    <ul class="menu-nav">
      <li class="submenu-nav home">
        <a href="index.html"><span class="button-nav">Inicio</span></a>
      </li>
      <li class="submenu-nav"><a href="/about">About</a></li>
      <li class="submenu-nav"><a href="/galeria">Galeria</a></li>
      <li class="submenu-nav"><a href="/contacto">Contacto</a></li>
      <li class="submenu-nav"><a href="/admin">Admin</a></li>
      <li class="submenu-nav carrito"><a href="/carrito"><img src="assets/images/shopping-cart.png" alt="icon" class="nav-image" /></a></li>
    </ul>
  </nav>
</header>