
<header id="main-header">
  <nav class="main-navbar">
    <div class="title">
      <a href="/">
        <img src="assets/images/baseball-icon.png" alt="icon" class="page-icon" />
      </a>
      <a href="/">
        <h2>Beis<span>boleros</span></h2>
      </a>
    </div>
    <div></div>
    <ul class="menu">
      <li class="submenu home">
        <a href="index.html"><span class="button active">Inicio</span></a>
      </li>
      <li class="submenu"><a href="/about">About</a></li>
      <li class="submenu"><a href="/galeria">Galeria</a></li>
      <li class="submenu"><a href="/contacto">Contacto</a></li>
      <li class="submenu"><a href="/administracion">Admin</a></li>
      <li class="submenu carrito"><a href="/administracion"><img src="assets/images/shopping-cart.png" alt="icon" class="page-icon" /></a></li>
    </ul>
  </nav>
</header>